.bg-container {
  height: 100vh;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.heading {
  font-family: Roboto;
  font-size: 50px;
  color: #0f172a;
  text-align: center;
}

.box-container {
  margin: 20px;
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
  flex-shrink: 0;
}

@media (max-width: 768px) {
  .box-container {
    flex-direction: column;
    align-items: center;
  }
}

.box {
  color: #ffffff;
  font-family: Bree Serif;
  text-align: center;
  margin: 20px;
}

.btn1 {
  background-color: #fbbf24;
  padding: 50px;
}

.btn2 {
  background-color: #38bdf8;
  padding: 100px;
}

.btn3 {
  background-color: #ec4899;
  padding: 150px;
}
